*.db
*.key
*.pub
Sonarqube/postgres_data/*
Sonarqube/sonarqube_data/*
Portainer/portainer_data
Wireguard/wireguard
Update-server/data
Terraria
Sonarqube/docker-sonarqube
Pihole
NodeRED/data
Nginx-proxy/data
Nginx-proxy/letsencrypt
Nginx-proxy/.env
Mosquito2/data
Mosquito2/log
Monitoreo/data
Influxdb/.env
Mosquito2/config
Mosquito/config
Mosquito/log
Github-docker-runner/docker